/* ------- SEARCH BAR -------*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Lobster');

#place-1 {
  display: none;
  width: 100%;
  height: 300px;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}

.page-bg {
  width: 100%;
  height: 100%;
  background-image: url("../img/upcoming.jpg");
  background-color: white;
  background-size: cover;
  z-index: -2;
  top: 0;
  left: 0;
  position: fixed;
  filter: blur(4px);
  transform: scale(1.1);
}

.title {
  font-size: 30px;
  height: 40px;
}

.top-bar {
  height: 120px;

  /*background-image: url("../img/upcoming.jpg");
  background-position: 0px -1700px; */
}

.home, .search, .contact, .profile {

}

.home {
  cursor: pointer;
  height: 100px;
  text-align: center;
  background-image: url("../img/lit-logo-2.0.png");
  background-size: 150px;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-position: 15px -20px;
}

.contact, .profile {
  padding-top: 12px;
}

.search {
  padding-left: 100px;
  padding-top: 35px;
}

.search-bar {
  background-color: white;
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 25px 0px 0px 25px;
/*  box-shadow: 7px 8px 15px 0.2px lightgrey; */
}

.search-bar:focus {
  outline: none;
}

.search-butt {
  cursor: pointer;
  background-color: #FFDC00;
  color: white;
  border-radius: 0px 25px 25px 0px;
  height: 40px;
  width: 150px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  border: none;
  transition: all 0.5s ease;
}

.search-butt:focus {
  outline: none;
}

.search-butt:hover {
  background-color: #3D9970;
  transition: all 0.4s ease;
}

.search-butt:active {
  background-color: #33805d;
  transition: all 0s;
}

.cont, .prof {
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-color: #FFDC00;
  color: white;
  text-align: center;
  line-height: 90px;
  transition: all 0.7s ease;
}

.icon-expanded {
  overflow: hidden;
  border-radius: 50px;
  height: 90px;
  width: 200px;
  background-color: #FFDC00;
  color: white;
  text-align: center;
  transition: all 0.7s ease;
}

.cont-uni-words, .prof-uni-words {
  font-family: 'Lobster', cursive;
  display: none;
  padding-left: 20px;
  font-size: 30px;
  line-height: 90px;
}

.cont-uni-items, .prof-uni-items {
  font-size: 60px;
  line-height: 80px;
}

.prof-uni-items {
  font-size: 55px;
  padding-left: 9px;
  line-height: 80px;
}

.drop-d{
  top: 1;
  left: 0;
  width: 70%;
  height: 20px;
  margin-left: 15%;
  border-radius: 25px;
  transition: all 2s ease;
}

.drop-down-map-shown {
  background-color: lightgrey;
  height: 500px;
  position: absolute;
  z-index: -1;
  transition: all 2s ease;
}

.drop-locations {
  width: 300px;
  background-color: white;
  margin-top: 20px;
  border-radius: 25px;
  overflow: hidden;;
}

.search-match {
  cursor: pointer;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid darkgrey;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.search-match:hover {
  background-color: #FFDC00;
  color: white;
  transition: all 0.3s ease;
}
