/* ------- STYLING FOR NAVBAR ------- */


@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great');

.title {
  font-size: 30px;
  height: 40px;
}

.top-bar {
  height: 120px;
  background-color:  #FFDC00;
}

.home, .search, .contact, .profile {
  line-height: 120px;
}

.home {
  cursor: pointer;
  height: 100px;
  text-align: center;
  background-image: url("../img/lit-logo-yellow.png");
  background-size: 200px;
  background-position: 20px -5px;
}

.contact, .profile {
  padding-top: 12px;
}

.search {
  text-align: center;
}

.cont, .prof {
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-color: white;
  color: #FFDC00;
  text-align: center;
  line-height: 90px;
  transition: all 0.7s ease;
}

.icon-expanded {
  overflow: hidden;
  border-radius: 50px;
  height: 90px;
  width: 200px;
  background-color: white;
  color: #FFDC00;
  text-align: center;
  transition: all 0.7s ease;
}

.cont-uni-words, .prof-uni-words {
  font-family: 'Fredericka the Great', cursive;
  display: none;
  padding-left: 20px;
  font-size: 30px;
  line-height: 90px;
}

.cont-uni-items, .prof-uni-items {
  font-size: 60px;
  line-height: 80px;
}

.prof-uni-items {
  font-size: 55px;
  padding-left: 9px;
  line-height: 80px;
}

/* ------- NAVBAR STYLING END ------- */

 /*------------dropdown styling and all--------------*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown img{
   height: 90%;
   width: 90%;
   padding: 50px;

}

.innermap{
  display: none;
}
